<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sklep-Wedkarski{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .navbar-inverse{background-color: #004c3f;
  border-color:#004c3f;
  color: white;
  }
  #topheader .navbar-nav li > a {
              text-transform: capitalize;
              color: #333;
              -webkit-transition: background-color .2s, color .2s;
              transition: background-color .2s, color .2s;
          }
          #topheader .navbar-nav li > a:hover,
          #topheader .navbar-nav li > a:focus {
              background-color: #004c3f;
              color: #fff;
          }
          #topheader .navbar-nav li.active > a {
              background-color: #000000;
              color: white;
          }

</style>
    </head>

    <div id="topheader">
           <nav class="navbar navbar-default">
               <div class="container-fluid">
                   <div class="navbar-header">
                       <a class="navbar-brand" href="#"
                       style="color: green;">Moj-sklep-wedkarski.com</a>
                   </div>

                   <div class="collapse navbar-collapse"
                           id="bs-example-navbar-collapse-1">
                       <ul class="nav navbar-nav">
                           <li class="active"><a href="#home">
                               home</a>
                           </li>
                           <li><a href="#page1">HTML</a></li>
                           <li><a href="#page2">CSS</a></li>
                           <li><a href="#page3">JavaScript</a></li>
                       </ul>
                       <ul class="nav navbar-nav navbar-right">
                          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                   </div>
               </div>
           </nav>
       </div>

       <script>
           $( '#topheader .navbar-nav a' ).on('click',
                       function () {
               $( '#topheader .navbar-nav' ).find( 'li.active' )
               .removeClass( 'active' );
               $( this ).parent( 'li' ).addClass( 'active' );
           });
       </script>

    <div class="jumbotron text-center">
      <h1>SKLEP WĘDKARSKI</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <img src="https://st.depositphotos.com/1656517/3201/v/450/depositphotos_32018681-stock-illustration-carp-fish-vector-illustration.jpg" alt="ryba" width="200" height="100">
          <h3>SIEMA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>NA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>STRONIE</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>
    </div>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
