<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Sklep-Wedkarski{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
  .navbar-inverse{
  background-color: #004c3f;
  border-color:#004c3f;
  color: white;
  }
  #topheader .navbar-nav li > a {
              padding: 100;
              text-transform: capitalize;
              color: #white;
              -webkit-transition: background-color .2s, color .2s;
              transition: background-color .2s, color .2s;
          }
          #topheader .navbar-nav li > a:hover,
          #topheader .navbar-nav li > a:focus {
              background-color: #00695c;
              color: #white;
          }
          #topheader .navbar-nav li.active > a {
              background-color: #000000;
              color: white;
          }
    img{
      border-radius: 50%;
    }
.nazwa{
  float: left;
  margin: auto;
  padding: 10px;
}
</style>
    </head>


    <nav class="navbar navbar-inverse" id="topheader">
<div class="container-fluid">
<div class="navbar-header">
  <img src="https://image.freepik.com/free-vector/bass-fish-jumping-catching-fishing-line-illustration_140710-71.jpg" style="float:left"alt="ryba" width="80" height="80.">
  <div class="nazwa">Sklep wędkarski  </div>
<br>
</div>
<ul class="nav navbar-nav">
<li class="active"><a href="#">Strona Główna</a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" >Strona 1 <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#">Strona 1-1</a></li>
    <li><a href="#">Strona 1-2</a></li>
    <li><a href="#">Strona 1-3</a></li>
  </ul>
</li>
<li><a href="#">Strona 2 </a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#"><span class="glyphicon glyphicon-user"></span> Załóż konto </a></li>
<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logowanie</a></li>
</ul>
</div>
</nav>


       <script>
           $( '#topheader .navbar-nav a' ).on('click',
                       function () {
               $( '#topheader .navbar-nav' ).find( 'li.active' )
               .removeClass( 'active' );
               $( this ).parent( 'li' ).addClass( 'active' );
           });
       </script>

    <div class="jumbotron text-center">
      <h1>SKLEP WĘDKARSKI</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">

          <h3>SIEMA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>NA</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
        <div class="col-sm-4">
          <h3>STRONIE</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
        </div>
      </div>
    </div>


        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
