<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sklep-Wedkarski{% endblock %}</title>
{% extends 'home/index.html.twig' %}


<div> coś </div>
</head>

<body>

</body>

</html>
{% endblock %}
